.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    padding: 20px;
}

.label {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.input {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    outline: none;
    width: 100%;
    padding: 0 12px;
    height: 42px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(2px);
    border-radius: 2px;

    transform: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.input:hover {
    border: 1px solid #76f596;
}

.button {
    color: rgb(197, 182, 51);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 8px;
    border-radius: 2px;
    height: 42px;
    border: none;
    background: color orange;
    
}

.button:hover {
    background: color green;
}